body {
    margin: 0 auto 0;
    background-color: lightgray;
    font-family: 'Kanit', sans-serif;
}

/*General style */

table{
    width:100%
}

button{
    color:lightgrey;
}

/*Calendar header Style */

.previous_button,.next_button{
    background-color: white;
}

#monthAndYear{
    color: #414141;
}

#previous{
    border-top:10px solid white;
    border-right:40px solid #414141;
    border-bottom:10px solid white;
    padding-left:0;
    padding-right:0;
    border-left:0;
}

#next{
    border-top: 10px solid white;
    border-left: 40px solid #414141;
    border-bottom: 10px solid white;
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
}

.previous_button, .next_button {
    width: 40px;
    display:inline-block;
}

.card-header{
    width: 200px;
    display: inline-block;
    font-size: xx-large;
    text-align: center;
}

.header_container{
    height: 80px;
    padding-top: 30px;
    width: 50%;
    float: left;
    position: relative;
    margin-left: 25%;
}

.buttons_and_month{
    width: 100%;
    height: 100px;
    background-color: white ;
}

/* Line between Calendar Header and Calendar Body */

.line{
    height: 3px;
    background-color: rgb(119, 119, 119);
    width: 80%;
    margin-left: 8%;
    border-radius: 25px;
}

.line_container{
    background-color: white;
}

/* Calendar Body */

.calendar_container{
    width: 70%;
    display: inline-block;
    padding-left:20px;
    padding-top:20px;
}

.calendar_body{
    width:100%;
    border-bottom-left-radius: 80px;
    background-color: white;
    padding: 15px 15px 0 15px;
}

table{
    border:1px gray(0);
}

tr{
    height: 60px;
}

.regular_dates{
    background-color: #ffffff;
    font-size:large;
}

.weekend_dates{
    background-color: #e6e6e6;
    font-size: x-large;
    border-radius: 25px;

}

#calendar-body{
    background-color: transparent;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 10px;
}

/* Date picker*/

.form-inline{
    width:100%;
    padding-bottom:25px;
    text-align: center;
}

.date_picker{
    font-size: x-large;
    border-radius: 50%;
    background: #e6e6e6;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 20px;
}

#year, #month{
    width: 150px;
    height: 40px;
    font-size:x-large;
}
/* Responsive for left side */


@media screen and (max-width: 850px ){

    .previous_button,.next_button{
        width: 20px;
        display: inline-block;
    }

    #previous{
        border-top: 5px solid white;
        border-right: 20px solid #414141;
        border-bottom: 5px solid white;
        padding-left: 0;
        padding-right: 0;
        border-left: 0;
    }

    #monthAndYear{
        width: 120px;
        font-size: x-large;
    }

    #next{
        border-top: 5px solid white;
        border-left: 20px solid #414141;
        border-bottom: 5px solid white;
        padding-left: 0;
        padding-right: 0;
        border-right: 0;
    }

    .header_container{
        left: 20%;
        text-align: center;
    }

    .buttons_and_month{
        text-align: center;
    }

}

@media screen and (max-width: 700px){

    .num_date{
        padding-left: 10px;
    }

    .day{
        padding-left: 25px;
    }

    .right_side_calendar_container{
        max-height: 485px;
    }

    tr{
        height:50px;
    }

    th{
        font-size: large;
    }

    td{
        font-size: large;
    }

    .date.picker{
        font-size: large;
    }

    #year, #month{
        width: 100px;
        height: 30px;
        font-size: large;
    }

}

@media screen and (max-width: 610px){

    .add_event{
        left :30px;
    }
    .regular_dates, .weekend_dates{
        font-size: medium;
    }


}

@media screen and (max-width: 500px){
    .header_container{
        left: 0;
        margin-left: 0;
        padding-left: 15px;
    }

    #monthAndYear{
        width:85px;
        font-size: large;
        padding-top: 10px;
    }

    .date_picker{
        display:none;
    }

    .num_date{
        font-size: 50px;
    }

    .day{
        font-size: 15px;
        top:0;
    }

    .create_event_short{
        margin-left:10px;
    }



}




/* Right side calendar */

.right_side_calendar_container{
    width: 28%;
    height:554px;
    display: inline-block;
    position:absolute;
    background-color: #2ECC71;
    padding-top: 20px;
    padding-right:20px;
    margin-top:20px;
}
 /* Hamburger style */
.hamburger {
    position: relative;
    top: 25px;
    left: 25px;
    width: 25px;
}

.burger_line:hover, .hamburger:hover{
    background-color:#27e879 !important;
}

.burger_line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 15%;
    margin-bottom: 3px;
}

/* BIG DATE AND NAME */

.num_date {
    font-size: 150px;
    width: 50%;
    font-weight: 700;
    padding-top: 20px;
    padding-left:23%;
    color:white;
    text-align: center;
    padding-right:60px;
}

.day {
    width: 50%;
    font-size: 30px;
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    padding-left:37%;
    bottom: 30px;
}
  /* Create Event section */


.create_event {
    font-size: 25px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
    color:white;
    width: 70%;
    display:inline-block;
}

.create_event_short{
    font-size: 20px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
    color:white;
    width: 70%;
    display:none;
}

.event_line {
    width: 90%;
}

.add_event {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    border: solid white 2px;
    position: relative;
    display:inline-block;
    top: 8px;
}

.add {
    font-size: 25px;
    position: relative;
    bottom: 6px;
    left: 3px;
}

.add:hover, .create_event:hover, .add-event:hover{
    color:#27e879 !important;
    border-color: #27e879 !important;
}

/*Responsive for right side */

@media screen and (max-width:800px){

    .create_event_short{
        display:inline-block;
    }

    .create_event{
        display: none;
    }

    .num_date{
        font-size: 100px;
        font-weight: 700;
        padding-top:45px;
    }

    .day{
        width: 50%;
        font-size: 25px;
        position: relative;
        padding-bottom: 20px;
        text-align: center;
        color: white;
        padding-left: 30%;
        bottom: 20px;
    }




}