* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

.button {
    transition: 0.3s all;
    border: none;
    border-radius: 10px;
}

.button:focus {
    outline: 0;
}

.link {
    text-decoration: none;
}

.section__title {
    margin-bottom: 22px;
    font-weight: 700;
    line-height: 28px;
    font-size: 18px;
}

.submit__button {
    width: 80px;
    height: 40px;
    background-color: #b12928;
    color: #f6f6f6;
}

/*START HOME PAGE REGION*/
.body__wrapper {
    background: url('../images/library-background.jpg') no-repeat center center;
    width: 100%;
}

.feed__container {
    background-color: whitesmoke;
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
    margin: 0 auto 0;
}

.feed__section {
    width: 100%;
    margin: 10px 0 20px;
    position: relative;
    height: 500px;
}

.feed__section__title {
    margin: 10px auto;
    font-size: 22px;
    width: fit-content;
    border-bottom: 1px solid black;
}

.user__container {
    transition: all 0.3s;
    float: left;
    width: 25%;
    margin: 10px;
    padding: 20px 10px 12px;
    background-color: #ebeeef;
}

.user__container:hover {
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.user__avatar {
    border: 0.5px solid grey;
    height: 65px;
    width: 65px;
    margin: auto;
    padding: 5px;
    border-radius: 50%;
}

.user__avatar.boy {
    background-image: url(../images/student_boy_avatar.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;   
}

.user__avatar.girl {
    background-image: url(../images/student_girl_avatar.jpg);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;   
}

.user__name {
    font-size: 13px;
    color: #1c2117;
    font-weight: 700;
    margin: 10px auto 0;
    width: fit-content;
}

.user__last__active {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #999;
    font-family: "Roboto", sans-serif;
    margin: auto;
    width: fit-content; 
}

.user__message__button, .user__friend__button {
    font-size: 10px;
    width: 50%;
    margin: auto;
}

/*END HOME PAGE REGION*/

/*START CONTACT PAGE REGION*/

#contactPage {
    overflow: hidden;
    height: 100vh;
    background-color: aliceblue;
}

.contact__container {
    background-color: #303030;
    width: 40%;
    margin: 150px auto 0;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.contact__title {
    font-size: 20px;
}

.contact__description {
    font-size: 16px;
}

.contact__fields {
    width: 100%;
    padding: 0;
}

.contact__name__container, .contact__email__container, .contact__message__container {
    width: 100%;
    color: #a39eb1;
    font-size: 12px;
    list-style-type: none;
    margin: 5px 0; 
}

.contact__message__container {
    height: 150px;
}

.contact__message__field {
    height: 90%;
}

.contact__name__field, .contact__email__field, .contact__message__field {
    width: 95%;
    padding: 10px;
    background-color: #f6f6f6;
    border: none;
}

.button:hover {
    cursor: pointer;
    background-color: #e80a09;
}
/*END CONTACT PAGE REGION*/

/*START USERS PAGE REGION*/

.page__container {
    background-color: whitesmoke;
    padding: 30px;
    display: flex;
}

.users__wrapper {
    width: 70%;
}

.users__container {
    width: 100%;
    margin: 10px 0 0;
    position: relative;
    height: 500px;
}

#usersPage .section__title {
    margin-left: 10px;
}

.users__search__container {
    border: 1px solid #e5e5e5;
    padding: 25px 20px;
    margin: 0;
}

#usersPage .users__search__container .section__title {
    margin: 20px 0;
}

.search__field__description {
    color: rgb(119, 119, 119);
    margin: 10px 0;
}

.search__field {
    width: 100%;
    margin: 10px 0 20px ;
}

/*END USERS PAGE REGION*/

/*START DESIGN RESPONSIVENESS REGION*/

@media screen and (max-width: 1024px) {
    .feed__container {
        width: 75%;
    }

    .contact__container {
        width: 60%;
    }
}

/*tablet size*/
@media screen and (max-width: 768px) {
    .page__container {
        display: block;
    }

    .users__wrapper {
        width: unset;
    }

    .feed__container {
        width: 100%;
    }

    .contact__container {
        width: 80%;
    }
}



/*END DESIGN RESPONSIVENESS REGION*/